#global_menu_tbwp .adm-main-menu-item-icon{
    background: url('icons/tbwp/icon.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.tbwp_productive_calendar_menu_icon{
    background: url("icons/tbwp.productivecalendar/icon.png") no-repeat center;
}